@media (max-width: 450px) {
    header .logo-text {
        max-height: 40px;
    }
    header .navbar .agenda,
    header .navbar .favoritos,
    header .navbar .mensajes {
        display: none;
    }
}
@media (max-width: 576px) {
    .c-img-sm {
        max-width: 200px !important;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    header .logo-text {
        max-height: 40px;
    }
}
@media (max-width: 768px) {
    .index .logo-index,
    .nuestros-productos .logo-index {
        max-width: 180px;
    }
    .nuestros-productos table {
        font-size: 0.7rem;
    }
}
@media (min-width: 767px) {
    .c-img-sm {
        max-width: 200px !important;
    }
}